<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>

    <% for(let i=0;i<list.length;i++){ %>   

      <p><%= list[i].entity_name %></p>
    <%}%>

  </body>
</html>
